* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "EB Garamond", serif;
}

:root {
    --primary-color: #3A3845;
    --font-family: "Inter", sans-serif;
}

img {
    width: 100%;
}

.container {
    width: calc(100% - 20%);
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

a {
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
}

/*****************************/
.header {
    /* display: flex;
    gap: 232.5px; */
    padding: 21.85px 0px;
}

.spar {
    width: 20px;
    height: 20px;
    display: none;
}

.list ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
}

.icons ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}


/*********************************/


/*******************************/
.collection_section {
    text-align: center;
    padding: 80px 0px;
}

.collection {
    width: calc(100% - 90px) / 4;
}

.collection h2 {
    margin: 23px 0px;
    color: var(--primary-color);
    font-size: 18px;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-style: semi-bold;
}

/******************************************/
.Best_seller {
    padding: 80px 0px;
    text-align: center;
    background-color: #F7F6F5;
}

.Best_seller .row {
    gap: 30px;
}

.Best_seller .item {
    text-align: left;
    width: calc((100% - 90px) /4);
}

.Best_seller h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 45px;
}

.Best_seller h3 {
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 3px;
}

.Best_seller .discription {
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    color: #807F86;
    width: 90%;
    margin-bottom: 25px;
    margin-top: 10px;

}

.Best_seller .price {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 3px;
}

.Best_seller .addToCart {
    padding: 15px 81px;
    width: 100%;
    border: 1px solid black;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: white;
    margin-bottom: 40px;
}

/**********************************************************/
@media screen and (min-width: 0) and (max-width: 1000px) {
    .list {
        display: none;

        ul {
            display: none;
        }
    }

    .spar {
        display: block;

        .spar svg {
            width: 100%;
            height: 100%;
        }
    }

    .Best_seller .item {
        width: calc((100% - 60px)/3);

        .addToCart{
            padding: 15px 30px;
        }
    }

}

@media screen and (min-width: 0) and (max-width: 766px) {
    .header {
        .list {
            display: none;

            ul {
                display: none;
            }
        }

        .icons ul .hide-on-small-screen {
            display: none;
        }
    }

    .collection {
        width: 100%;
    }

    .Best_seller {
        .item {
            width: calc((100% - 30px)/2);
        }
        .addToCart{
            padding: 15px 25px;
        }
    }
}

@media screen and (min-width: 0) and (max-width: 375px) {
    .header {
        .list {
            display: none;

            ul {
                display: none;
            }
        }

        .icons ul .hide-on-small-screen {
            display: none;
        }
    }

    .Best_seller {
        .item {
            width: 100%;
        }
    }
}